.container-answer{
    width: 50%;
    margin: 0 auto;
    margin-bottom:20px ;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 20px 3px rgba(128, 128, 128, 0.292);
    .info-userpublisher{
        display: flex;
        padding: 10px;
        border-bottom: 1px solid black;
        font-size: 10px;
        align-items: center;
        #avatar{
            margin-right: 10px;
            width: 40px;
            height:40px;
            }
    }
    .reactions{
        text-align: center;
        padding: 10px;
    }
}
.comment-wall{
    .comment-card{
        margin-bottom: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

img{
        width: 50%;
    }

    