.comment-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 50px 0px 50px 0px;
    
}
.card-container{
    width: 60%;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 20px 3px rgba(128, 128, 128, 0.292);
        h1{
            margin: 0px;
        }
        
        .info-userpublisher{
            display: flex;
            padding: 10px;
            border-bottom: 1px solid black;
            font-size: 10px;
            align-items: center;
            #avatar{
            margin-right: 10px;
            width: 40px;
            height:40px;
            }
        }
}
.message-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    h1{
        font-size: 15px;
    }
    h2{
        font-size: 12px;
    }
}

button{
        margin-bottom: 0px;
    }
.answer-card{
    #content{
    margin-top: 20px;
    }
    form label{
    font-size: 12px;
    margin-right: 10px ;
    }
}

    